body{
  margin: 0;
  padding: 0;
}

.App {
width: 100vw;
height: 100vh;
background-color: brown;
}
.Sidebar{
  height: 100%;
  width: 200px;
  background-color: #0D1F5F;
  padding: 3rem;
  
}
.main_container{
  margin-top: 2rem;
  margin-left: -1.5rem;

}
.parent{
  display: flex;
  justify-content: space-around
  
}
.child{
  width: 26px;
  height: 24px;
  background-color: #334585;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2rem;
  border-radius: 2px;
  padding: 3px;
}
.childTwo{
  width: 89px;
  height: 0px;
 
  margin-right: 4.3rem;
  margin-top: 0.9rem;
  margin-left: -1.3rem;
  padding: 0px;
}
.parentOne .childOne{
  width: 26px;
}
.parentOne .childTwo .lineDiv{
  width: 110%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentTwo .childTwo .lineDiv{
  width: 180%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentThree .childTwo .lineDiv{
  width: 160%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentFour .childTwo .lineDiv{
  width: 140%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentloans{
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  height: 40px;
  background: #334585;
  border-radius: 0px 8px 8px 0px;
  margin-top: 1rem;
  margin-left: -3rem;
  padding-top: 9.3px;

}

.fipieChart,.loans{
  color: #FFFFFF;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fipieChart{
  margin-top: 3px;
}
.newButton{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0D1F5F;
}
.buttonText{
 font-weight: bold;
  width: 42px;
  height: 22px;
  margin-top: 3px;
  background: #3BE5BF 0% 0% no-repeat padding-box;
  border-radius: 8px;
    padding-top: 0.3rem;
    padding-left: 0.7rem;
}
.divlineAbove{
  margin-left: -1.8rem;
  margin-top: 1rem;
}



