

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
width: 100vw;
height: 150vh;
background-color:#F4F7FA;
}
.Sidebar{
  height: 100%;
  width: 200px;
  background-color: #0D1F5F;
  padding: 3rem;
  
}

.main_container{
  margin-top: 2rem;
  margin-left: -1.5rem;

}
.parent{
  display: flex;
  justify-content: space-around
  
}
.slimline_wrapper{
  display: flex;

  justify-content: flex-start;
  margin-bottom: 12px;
}
.slimlineOne{
  width: 20%;
  height: 0px;
  border: 2px solid #334585;
  background-color: #334585;
  border-radius: 2px;
  margin-left: 9px;
}
.slimlineTwo{
  width: 6%;
  border: 2px solid #334585;
  background-color: #334585;
  border-radius: 2px;
  margin-left: 7px;
}
.child{
  width: 26px;
  height: 24px;
  background-color: #334585;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2rem;
  border-radius: 2px;
  padding: 3px;
}
.childTwo{
  width: 89px;
  height: 0px;
 
  margin-right: 4.3rem;
  margin-top: 0.9rem;
  margin-left: -1.3rem;
  padding: 0px;
}
.parentOne .childOne{
  width: 26px;
}
.parentOne .childTwo .lineDiv{
  width: 110%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentTwo .childTwo .lineDiv{
  width: 180%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentThree .childTwo .lineDiv{
  width: 160%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentFour .childTwo .lineDiv{
  width: 140%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}

.parentFive .childTwo .lineDiv{
  width: 145%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentSix .childTwo .lineDiv{
  width: 145%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}

.parentSeven .childTwo .lineDiv{
  width: 135%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}

.parentEight .childTwo .lineDiv{
  width: 90%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentNine .childTwo .lineDiv{
  width: 140%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}
.parentTen .childTwo .lineDiv{
  width: 110%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}

.parentEleven .childTwo .lineDiv{
  width: 80%;
  border: 3px solid #334585;
  background-color: #334585;
  border-radius: 2px;
}







.parentloans{
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  height: 40px;
  background: #334585;
  border-radius: 0px 8px 8px 0px;
  margin-top: 1rem;
  margin-left: -3rem;
  padding-top: 9.3px;

}

.fipieChart,.loans{
  color: #FFFFFF;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fipieChart{
  margin-top: 3px;
}
.newButton{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0D1F5F;
}
.buttonText{
 font-weight: bold;
  width: 42px;
  height: 22px;
  margin-top: 3px;
  background: #3BE5BF 0% 0% no-repeat padding-box;
  border-radius: 8px;
    padding-top: 0.3rem;
    padding-left: 0.7rem;
}
.divlineAbove{
  margin-left: -1.8rem;
  margin-top: 1rem;
}

.divSix,.divSeven{
  margin-bottom: 2.5rem;
}
.FiPhoneCall{
  
  color: #0D1F5F;
  margin-right: 3rem;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.nameText{
  display: flex;
  color: #0D1F5F;
  margin-left: 1.5rem;
  margin-right: 3rem;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.ayoText{
  margin-top: .3rem;
  margin-left: 2rem;
}
.GoChevronDown{
  margin-top: .7rem;
  padding-left: 1rem;
}
.nameTextIcon{
  font-size: 40px; 
}
.Navbar{
  color: #0D1F5F;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 2.5rem;
}
.Dashboard{
  color: #0D1F5F;
  height: 100%;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}
.dashBoardText{
  color: #0D1F5F;
  margin-top: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 4rem;
}
.activeLoansPlaneItems{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0D1F5F;
}

.activeLoansPlane{
  color: #0A194E;
  padding-top: 1.2rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 8px 16px #0000000A;
border-radius: 8px;
height: 256px;
}
.NoResultText{
  color: #0A194E;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;

}

.box{
  width: 320px;
height: 270px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 8px 16px #0000000A;
border-radius: 16px;
margin: 2rem;
padding-top: 1rem;
padding-left: 1rem;
}


.square-box{
  width: 56px;
height: 56px;
background: #D3DFEA 0% 0% no-repeat padding-box;
border-radius: 8px;
margin-bottom: 2rem;
}
.lineDiv1{
  width: 40%;
  border: 4px solid #D3DFEA;
  background-color: #D3DFEA;
  border-radius: 3px;
  margin-bottom: 2.5rem;

}
.lineDiv2{
  width: 80%;
  border: 4px solid #D3DFEA;
  background-color: #D3DFEA;
  border-radius: 3px;
  margin-bottom: 2.5rem;
}
.rectangle{
  width: 115px;
height: 56px;
background: #D3DFEA24 0% 0% no-repeat padding-box;
border: 1px solid #D2DFE9;
border-radius: 8px;
}
.hr_line{
  border: 1px solid #E7E9EB;
}

.FcSmartphoneTablet{
  font-size: 40px;
  margin-top: 20px;
}
.deviceloans{
  display: flex;
}
.deviceloansText{
  color: #0A194E;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#deviceloansbutton{
  margin-top: 20px;
  margin-left: 20px;
}
#priceRange{
padding: 0;
margin: 0;
color: #0A194E;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.availableDevicesText{
  margin-top: 20px;
  text-align: center;
  width: 225px;
  height: 36px;
  padding-top: 15px;
  background: #0D1F5F 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  border: 1px solid #D2DFE9;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-inputs{
  display: flex;
  flex-direction: column;
}
.form-inputs{
  padding-right: .6rem;
}
#description,#amount,#dropdown{
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 10px;
  background: #D3DFEA24 0% 0% no-repeat padding-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subimit{
  text-align: center;
 font-size: 20px;
  height: 36px;
  background: #0D1F5F 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  border: 1px solid #D2DFE9;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#boxFour{
  height: 500px;

}
.noResultsText{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#refernceNum,
#totalAmount,
#DateAppiled,
#DateDisbured,
#RepaymenyDate{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.allDevice{
  display: flex;
  justify-content: space-around;
  width: 1113px;
  height: 304px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 16px #0000000A;
  border-radius: 8px;
}
.deviceCat{
  margin-top: 5rem;
}




